@import '../colors';
@import '../fonts';

#resume {
  transition: transform 1s, opacity 1s;
  transform-origin: 50% 50vh;
  &.transition {
    opacity: 0;
    transform: scale(0.5);
  }
  #tech_proficiencies {
    svg rect {
      transition: all 0.25s;
      &:hover {
        fill: $color4;
      }
    }
    ul { display: none; }
    @media screen and (max-width: 699px) {
      svg { display: none; }
      ul  { display: block; }
    }
  }
}
