$palette: 'tween';

$color1: #F0F0F0; // background
$color2: #333333; // foreground
$color3: #990100; // links/actionable text
$color4: #FFFFFF; // actionable background
$color5: #B90504; // active actionable / accent

@if ($palette == 'bamboo') {
  $color1: #95AA61;
  $color2: #121310;
  $color3: #F6F8EE;
  $color4: #899752;
  $color5: #D6E68A;
}

@if ($palette == 'tween') {
  $color1: #680148;
  $color2: #FFFFFF;
  $color3: #E0EFF1;
  $color4: #7DB4B5;
  $color5: #000000;
}

@if ($palette == 'leather') {
  $color1: #2E221F;
  $color2: #F1EED9;
  $color3: #F7EDBF;
  $color4: #382313;
  $color5: #58351A;
}

@if ($palette == 'natural') {
  $color1: #DDDED7;
  $color2: #755638;
  $color4: #C6D8DA;
  $color5: #A1B7B9;
  $color3: #2D4D50;
}
