@import '_fonts';
@import '_colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: $font-body;
  font-size: 11pt;
  line-height: 2rem;
}

body {
  color: $color2;
  background-color: $color1;
}

a[href] { color: $color3; }
a[href]:visited { text-decoration: none; }

h1, h2, h3 {
  font-family: $font-header;
  font-weight: 300;
  line-height: 4rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  > span {
    vertical-align: middle;
    font-size: 2rem;
    margin-left: 2rem;
  }
}

h1 { font-size: 4rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1rem; }
h5 { font-size: 1rem; }

p {
  margin-bottom: 0.5rem;
}

code, pre {
  color: $color1;
  background-color: $color2;
  border-radius: 0.15em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

label {
  display: inline-block;
  min-width: 100pt;
}

input, textarea, button {
  background-color: $color1;
  color: $color2;
  border: solid $color2 1pt;
  font-size: 1rem;
  line-height: inherit;
  padding: 0 0.5rem;
  &:focus {
    background-color: lighten($color1, 10%);
    border-color: $color3;
    outline: none;
  }
}

textarea {
  min-height: 6rem;
}

button, input[type=submit], input[type=reset], input[type=button] {
  cursor: pointer;
  background-color: $color3;
  border: none;
  box-shadow: inset 0pt -0.3em 0pt $color5;
  border-radius: 3pt;
  color: $color1;
  font-size: inherit;
  padding-bottom: 0.3rem;
  transition: background-color 0.25s;
  &:hover {
    background-color: lighten($color3, 10%);
  }
}

table {
  width: 100%;
  border-spacing: 0;
  border: solid $color2 1px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  td, th { line-height: 2rem; padding: 0 0.5rem; }
  thead, tfoot {
    background-color: $color2;
    color: $color1;
    text-align: left;
  }
}

ol, ul {
  padding-left: 2rem;
}

section {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

//--

body > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 700pt;
}

body > header {
  overflow: auto;
  background-color: $color5;
  margin: 0;
  max-width: 100%;
  color: $color1;
  > h1 {
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    max-width: 700pt;
    text-shadow: 0 0.3em 1em lighten($color5, 25%);
  }
}

body > footer {
  text-align: center;
  margin: 2rem auto;
}

.actions, .field {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.actions {
  list-style-type: none;
  padding: 0;
  @media (min-width: 400px) {
    form &::before { display: inline-block; content: ''; width: 100pt; }
  }
  & li { display: inline-block; margin-right: 1em; }
}
