* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-body;
  color: $color2;
  background-color: $color1;
  font-size: 12pt;
  line-height: 2rem;
}

a[href] { color: $color3; }
a[href]:visited { text-decoration: none; }

h1, h2, h3 {
  font-family: $font-header;
  font-weight: 300;
  line-height: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1 { font-size: 4rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1rem; }
h5 { font-size: 1rem; }

p {
  margin-bottom: 0.5rem;
}

code, pre {
  color: $color1;
  background-color: $color2;
  border-radius: 0.15em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

label {
  display: inline-block;
  min-width: 100pt;
}

input, textarea {
  border: none;
  background-color: $color2;
  font-size: 1rem;
  line-height: inherit;
  padding: 0 0.5rem;
  vertical-align: top;
  &:focus {
    background-color: $color2;
    border-color: $color4;
    outline: none;
  }
}

input[type=text], textarea {
  min-width: 200pt;
  width: 100%;
  width: calc(100% - 100pt);
}

textarea {
  height: 200pt;
}

button, input[type=submit], input[type=reset], input[type=button] {
  cursor: pointer;
  background-color: $color2;
  color: $color1;
  border: none;
}

table {
  border-spacing: 0;
  border: solid $color2 1px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  td, th { line-height: 2rem; padding: 0 0.5rem; }
  thead, tfoot {
    background-color: $color2;
    color: $color1;
    text-align: left;
  }
}

//--

body > * {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

body > header {
  color: $color2;
}

.actions, .field {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.actions {
  list-style-type: none;
  form & > *:first-child { margin-left: 100pt; }
  & li { display: inline-block; margin-right: 1em; }
}
